@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}


html, body {
  @apply bg-gray-900;
}


@font-face {
  font-family: "TheSeasons";
  src: local("TheSeasons"),
   url("./fonts/Fontspring-DEMO-theseasons-bd.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
 }

 @font-face {
  font-family: "TheSeasons";
  src: local("TheSeasons"),
   url("./fonts/Fontspring-DEMO-theseasons-bdit.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
 }

 @font-face {
  font-family: "TheSeasons";
  src: local("TheSeasons"),
   url("./fonts/Fontspring-DEMO-theseasons-it.otf") format("truetype");
  font-style: italic;
  font-weight: normal;
 }

 @font-face {
  font-family: "TheSeasons";
  src: local("TheSeasons"),
   url("./fonts/Fontspring-DEMO-theseasons-reg.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
 }

 @font-face {
  font-family: "TheSeasons";
  src: local("TheSeasons"),
   url("./fonts/Fontspring-DEMO-theseasons-lt.otf") format("truetype");
  font-weight: lighter;
  font-style: normal;
 }

 @font-face {
  font-family: "TheSeasons";
  src: local("TheSeasons"),
   url("./fonts/Fontspring-DEMO-theseasons-ltit.otf") format("truetype");
  font-weight: lighter;
  font-style: italic;
 }



/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #961529;
  background-color: #FFF9ED;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #961529;
  text-decoration: inherit;
}
a:hover {
  color: #961529;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #961529;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #961529;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.seasonsFont {
  font-family: "TheSeasons";
}

.montserratFont {
  font-family: "Montserrat", sans-serif;
}

